[Unit]
Description=Briar managed computer runtime
Wants=network-online.target
Requires=briar-managed-enroll.service
Requires=briar-managed-runtime-updater.service
Requires=briar-managed-worker.service
Requires=briar-remote-desktop.service
Requires=briar-remote-session-agent.service
After=network-online.target
After=briar-managed-enroll.service
After=briar-managed-runtime-updater.service
After=briar-managed-worker.service
After=briar-remote-desktop.service
After=briar-remote-session-agent.service
Before=multi-user.target

[Install]
WantedBy=multi-user.target
