# macOS code signing and notarization
APPLE_CERTIFICATE=
APPLE_CERTIFICATE_PASSWORD=
IOS_DISTRIBUTION_CERTIFICATE=
IOS_DISTRIBUTION_CERTIFICATE_PASSWORD=
KEYCHAIN_PASSWORD=
APPLE_API_KEY_CONTENT=

# Tauri updater signing
TAURI_SIGNING_PRIVATE_KEY=
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=

# Required only with release:macos:production -- --publish
CLOUDFLARE_API_TOKEN=
